<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.safunc.mapper.GkCompetitorPhotoMapper">
    <resultMap id="BaseResultMap" type="com.guanke.vinda.samodels.model.entity.GkCompetitorPhotoEntity">
        <!--@mbg.generated-->
        <!--@Table gk_competitor_photo-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy"/>
        <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updatedTime" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="competitorId" jdbcType="VARCHAR" property="competitorId"/>
        <result column="empId" jdbcType="VARCHAR" property="empId"/>
        <result column="photoKey" jdbcType="VARCHAR" property="photoKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, createdBy, createdTime, updatedBy, updatedTime, version, competitorId, empId,
        photoKey
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gk_competitor_photo
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from gk_competitor_photo
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.guanke.vinda.samodels.model.entity.GkCompetitorPhotoEntity">
        <!--@mbg.generated-->
        insert into gk_competitor_photo (id, createdBy, createdTime,
        updatedBy, updatedTime, version,
        competitorId, empId, photoKey
        )
        values (#{id,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER},
        #{competitorId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{photoKey,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.guanke.vinda.samodels.model.entity.GkCompetitorPhotoEntity">
        <!--@mbg.generated-->
        insert into gk_competitor_photo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdTime != null">
                createdTime,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedTime != null">
                updatedTime,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="competitorId != null">
                competitorId,
            </if>
            <if test="empId != null">
                empId,
            </if>
            <if test="photoKey != null">
                photoKey,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="competitorId != null">
                #{competitorId,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="photoKey != null">
                #{photoKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.guanke.vinda.samodels.model.entity.GkCompetitorPhotoEntity">
        <!--@mbg.generated-->
        update gk_competitor_photo
        <set>
            <if test="createdBy != null">
                createdBy = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                createdTime = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updatedBy = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="competitorId != null">
                competitorId = #{competitorId,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                empId = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="photoKey != null">
                photoKey = #{photoKey,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.guanke.vinda.samodels.model.entity.GkCompetitorPhotoEntity">
        <!--@mbg.generated-->
        update gk_competitor_photo
        set createdBy = #{createdBy,jdbcType=VARCHAR},
        createdTime = #{createdTime,jdbcType=TIMESTAMP},
        updatedBy = #{updatedBy,jdbcType=VARCHAR},
        updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
        version = #{version,jdbcType=INTEGER},
        competitorId = #{competitorId,jdbcType=VARCHAR},
        empId = #{empId,jdbcType=VARCHAR},
        photoKey = #{photoKey,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-11-->
    <select id="selectByCompetitorIdAndVisitId" resultMap="BaseResultMap">
        select gcp.*
        from gk_visit gv
        left join sa_visit_competitor_photo_connect svcpc on svcpc.visit_id = gv.id
        left join gk_competitor_photo gcp on gcp.id = svcpc.photo_id
        where gcp.competitorId = #{competitorId,jdbcType=VARCHAR}
        and gv.id = #{visitId,jdbcType=VARCHAR}
    </select>
</mapper>