<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.safunc.mapper.SaPhotoConncetEntityMapper">
  <resultMap id="BaseResultMap" type="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    <!--@Table sa_photo_conncet-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="foreign_id" jdbcType="VARCHAR" property="foreignId" />
    <result column="photo_id" jdbcType="VARCHAR" property="photoId" />
    <result column="photo_type" jdbcType="VARCHAR" property="photoType" />
    <result column="create_emp_id" jdbcType="VARCHAR" property="createEmpId" />
    <result column="create_position_id" jdbcType="VARCHAR" property="createPositionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, row_version, delete_flag, foreign_id, photo_id, photo_type, 
    create_emp_id, create_position_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sa_photo_conncet
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sa_photo_conncet
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    insert into sa_photo_conncet (id, create_time, update_time, 
      row_version, delete_flag, foreign_id, 
      photo_id, photo_type, create_emp_id, 
      create_position_id)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{foreignId,jdbcType=VARCHAR}, 
      #{photoId,jdbcType=VARCHAR}, #{photoType,jdbcType=VARCHAR}, #{createEmpId,jdbcType=VARCHAR}, 
      #{createPositionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    insert into sa_photo_conncet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="foreignId != null">
        foreign_id,
      </if>
      <if test="photoId != null">
        photo_id,
      </if>
      <if test="photoType != null">
        photo_type,
      </if>
      <if test="createEmpId != null">
        create_emp_id,
      </if>
      <if test="createPositionId != null">
        create_position_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="foreignId != null">
        #{foreignId,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        #{photoType,jdbcType=VARCHAR},
      </if>
      <if test="createEmpId != null">
        #{createEmpId,jdbcType=VARCHAR},
      </if>
      <if test="createPositionId != null">
        #{createPositionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    update sa_photo_conncet
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="foreignId != null">
        foreign_id = #{foreignId,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        photo_id = #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        photo_type = #{photoType,jdbcType=VARCHAR},
      </if>
      <if test="createEmpId != null">
        create_emp_id = #{createEmpId,jdbcType=VARCHAR},
      </if>
      <if test="createPositionId != null">
        create_position_id = #{createPositionId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    update sa_photo_conncet
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      foreign_id = #{foreignId,jdbcType=VARCHAR},
      photo_id = #{photoId,jdbcType=VARCHAR},
      photo_type = #{photoType,jdbcType=VARCHAR},
      create_emp_id = #{createEmpId,jdbcType=VARCHAR},
      create_position_id = #{createPositionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sa_photo_conncet
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="row_version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.rowVersion,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="delete_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.deleteFlag,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="foreign_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.foreignId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="photo_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.photoId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="photo_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.photoType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_emp_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.createEmpId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_position_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.createPositionId,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sa_photo_conncet
    (id, create_time, update_time, row_version, delete_flag, foreign_id, photo_id, photo_type, 
      create_emp_id, create_position_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.rowVersion,jdbcType=INTEGER}, #{item.deleteFlag,jdbcType=INTEGER}, #{item.foreignId,jdbcType=VARCHAR}, 
        #{item.photoId,jdbcType=VARCHAR}, #{item.photoType,jdbcType=VARCHAR}, #{item.createEmpId,jdbcType=VARCHAR}, 
        #{item.createPositionId,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    insert into sa_photo_conncet
    (id, create_time, update_time, row_version, delete_flag, foreign_id, photo_id, photo_type, 
      create_emp_id, create_position_id)
    values
    (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{foreignId,jdbcType=VARCHAR}, 
      #{photoId,jdbcType=VARCHAR}, #{photoType,jdbcType=VARCHAR}, #{createEmpId,jdbcType=VARCHAR}, 
      #{createPositionId,jdbcType=VARCHAR})
    on duplicate key update 
    id = #{id,jdbcType=VARCHAR}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}, 
    row_version = #{rowVersion,jdbcType=INTEGER}, 
    delete_flag = #{deleteFlag,jdbcType=INTEGER}, 
    foreign_id = #{foreignId,jdbcType=VARCHAR}, 
    photo_id = #{photoId,jdbcType=VARCHAR}, 
    photo_type = #{photoType,jdbcType=VARCHAR}, 
    create_emp_id = #{createEmpId,jdbcType=VARCHAR}, 
    create_position_id = #{createPositionId,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.guanke.vinda.samodels.model.entity.SaPhotoConncetEntity">
    <!--@mbg.generated-->
    insert into sa_photo_conncet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="foreignId != null">
        foreign_id,
      </if>
      <if test="photoId != null">
        photo_id,
      </if>
      <if test="photoType != null">
        photo_type,
      </if>
      <if test="createEmpId != null">
        create_emp_id,
      </if>
      <if test="createPositionId != null">
        create_position_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="foreignId != null">
        #{foreignId,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        #{photoType,jdbcType=VARCHAR},
      </if>
      <if test="createEmpId != null">
        #{createEmpId,jdbcType=VARCHAR},
      </if>
      <if test="createPositionId != null">
        #{createPositionId,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="foreignId != null">
        foreign_id = #{foreignId,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        photo_id = #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        photo_type = #{photoType,jdbcType=VARCHAR},
      </if>
      <if test="createEmpId != null">
        create_emp_id = #{createEmpId,jdbcType=VARCHAR},
      </if>
      <if test="createPositionId != null">
        create_position_id = #{createPositionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-05-->
  <select id="selectByForeignId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sa_photo_conncet
        where foreign_id=#{foreignId,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-05-->
  <select id="selectByForeignIdAndPhotoType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sa_photo_conncet
    where foreign_id=#{foreignId,jdbcType=VARCHAR} and photo_type=#{photoType,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <delete id="deleteByForeignId">
        delete from sa_photo_conncet
        where foreign_id=#{foreignId,jdbcType=VARCHAR}
    </delete>
</mapper>