<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.safunc.mapper.SaVisitUpdateShopTempEntityMapper">
  <resultMap id="BaseResultMap" type="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    <!--@Table sa_visit_update_shop_temp-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="visit_id" jdbcType="VARCHAR" property="visitId" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="shop_booth" jdbcType="INTEGER" property="shopBooth" />
    <result column="shop_shelf" jdbcType="INTEGER" property="shopShelf" />
    <result column="shop_bracket" jdbcType="INTEGER" property="shopBracket" />
    <result column="shop_booth_total" jdbcType="INTEGER" property="shopBoothTotal" />
    <result column="shop_shelf_total" jdbcType="INTEGER" property="shopShelfTotal" />
    <result column="shop_bracket_total" jdbcType="INTEGER" property="shopBracketTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, row_version, delete_flag, visit_id, emp_id, shop_booth, 
    shop_shelf, shop_bracket, shop_booth_total, shop_shelf_total, shop_bracket_total
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sa_visit_update_shop_temp
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sa_visit_update_shop_temp
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    insert into sa_visit_update_shop_temp (id, create_time, update_time, 
      row_version, delete_flag, visit_id, 
      emp_id, shop_booth, shop_shelf, 
      shop_bracket, shop_booth_total, shop_shelf_total, 
      shop_bracket_total)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{visitId,jdbcType=VARCHAR}, 
      #{empId,jdbcType=VARCHAR}, #{shopBooth,jdbcType=INTEGER}, #{shopShelf,jdbcType=INTEGER}, 
      #{shopBracket,jdbcType=INTEGER}, #{shopBoothTotal,jdbcType=INTEGER}, #{shopShelfTotal,jdbcType=INTEGER}, 
      #{shopBracketTotal,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    insert into sa_visit_update_shop_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="visitId != null">
        visit_id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="shopBooth != null">
        shop_booth,
      </if>
      <if test="shopShelf != null">
        shop_shelf,
      </if>
      <if test="shopBracket != null">
        shop_bracket,
      </if>
      <if test="shopBoothTotal != null">
        shop_booth_total,
      </if>
      <if test="shopShelfTotal != null">
        shop_shelf_total,
      </if>
      <if test="shopBracketTotal != null">
        shop_bracket_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="shopBooth != null">
        #{shopBooth,jdbcType=INTEGER},
      </if>
      <if test="shopShelf != null">
        #{shopShelf,jdbcType=INTEGER},
      </if>
      <if test="shopBracket != null">
        #{shopBracket,jdbcType=INTEGER},
      </if>
      <if test="shopBoothTotal != null">
        #{shopBoothTotal,jdbcType=INTEGER},
      </if>
      <if test="shopShelfTotal != null">
        #{shopShelfTotal,jdbcType=INTEGER},
      </if>
      <if test="shopBracketTotal != null">
        #{shopBracketTotal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    update sa_visit_update_shop_temp
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="visitId != null">
        visit_id = #{visitId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="shopBooth != null">
        shop_booth = #{shopBooth,jdbcType=INTEGER},
      </if>
      <if test="shopShelf != null">
        shop_shelf = #{shopShelf,jdbcType=INTEGER},
      </if>
      <if test="shopBracket != null">
        shop_bracket = #{shopBracket,jdbcType=INTEGER},
      </if>
      <if test="shopBoothTotal != null">
        shop_booth_total = #{shopBoothTotal,jdbcType=INTEGER},
      </if>
      <if test="shopShelfTotal != null">
        shop_shelf_total = #{shopShelfTotal,jdbcType=INTEGER},
      </if>
      <if test="shopBracketTotal != null">
        shop_bracket_total = #{shopBracketTotal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    update sa_visit_update_shop_temp
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      visit_id = #{visitId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      shop_booth = #{shopBooth,jdbcType=INTEGER},
      shop_shelf = #{shopShelf,jdbcType=INTEGER},
      shop_bracket = #{shopBracket,jdbcType=INTEGER},
      shop_booth_total = #{shopBoothTotal,jdbcType=INTEGER},
      shop_shelf_total = #{shopShelfTotal,jdbcType=INTEGER},
      shop_bracket_total = #{shopBracketTotal,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sa_visit_update_shop_temp
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="row_version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.rowVersion,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="delete_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.deleteFlag,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="visit_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.visitId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="emp_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.empId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="shop_booth = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopBooth,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="shop_shelf = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopShelf,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="shop_bracket = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopBracket,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="shop_booth_total = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopBoothTotal,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="shop_shelf_total = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopShelfTotal,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="shop_bracket_total = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.shopBracketTotal,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sa_visit_update_shop_temp
    (id, create_time, update_time, row_version, delete_flag, visit_id, emp_id, shop_booth, 
      shop_shelf, shop_bracket, shop_booth_total, shop_shelf_total, shop_bracket_total
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.rowVersion,jdbcType=INTEGER}, #{item.deleteFlag,jdbcType=INTEGER}, #{item.visitId,jdbcType=VARCHAR}, 
        #{item.empId,jdbcType=VARCHAR}, #{item.shopBooth,jdbcType=INTEGER}, #{item.shopShelf,jdbcType=INTEGER}, 
        #{item.shopBracket,jdbcType=INTEGER}, #{item.shopBoothTotal,jdbcType=INTEGER}, 
        #{item.shopShelfTotal,jdbcType=INTEGER}, #{item.shopBracketTotal,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    insert into sa_visit_update_shop_temp
    (id, create_time, update_time, row_version, delete_flag, visit_id, emp_id, shop_booth, 
      shop_shelf, shop_bracket, shop_booth_total, shop_shelf_total, shop_bracket_total
      )
    values
    (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{visitId,jdbcType=VARCHAR}, 
      #{empId,jdbcType=VARCHAR}, #{shopBooth,jdbcType=INTEGER}, #{shopShelf,jdbcType=INTEGER}, 
      #{shopBracket,jdbcType=INTEGER}, #{shopBoothTotal,jdbcType=INTEGER}, #{shopShelfTotal,jdbcType=INTEGER}, 
      #{shopBracketTotal,jdbcType=INTEGER})
    on duplicate key update 
    id = #{id,jdbcType=VARCHAR}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}, 
    row_version = #{rowVersion,jdbcType=INTEGER}, 
    delete_flag = #{deleteFlag,jdbcType=INTEGER}, 
    visit_id = #{visitId,jdbcType=VARCHAR}, 
    emp_id = #{empId,jdbcType=VARCHAR}, 
    shop_booth = #{shopBooth,jdbcType=INTEGER}, 
    shop_shelf = #{shopShelf,jdbcType=INTEGER}, 
    shop_bracket = #{shopBracket,jdbcType=INTEGER}, 
    shop_booth_total = #{shopBoothTotal,jdbcType=INTEGER}, 
    shop_shelf_total = #{shopShelfTotal,jdbcType=INTEGER}, 
    shop_bracket_total = #{shopBracketTotal,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.guanke.vinda.samodels.model.entity.SaVisitUpdateShopTempEntity">
    <!--@mbg.generated-->
    insert into sa_visit_update_shop_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="visitId != null">
        visit_id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="shopBooth != null">
        shop_booth,
      </if>
      <if test="shopShelf != null">
        shop_shelf,
      </if>
      <if test="shopBracket != null">
        shop_bracket,
      </if>
      <if test="shopBoothTotal != null">
        shop_booth_total,
      </if>
      <if test="shopShelfTotal != null">
        shop_shelf_total,
      </if>
      <if test="shopBracketTotal != null">
        shop_bracket_total,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="shopBooth != null">
        #{shopBooth,jdbcType=INTEGER},
      </if>
      <if test="shopShelf != null">
        #{shopShelf,jdbcType=INTEGER},
      </if>
      <if test="shopBracket != null">
        #{shopBracket,jdbcType=INTEGER},
      </if>
      <if test="shopBoothTotal != null">
        #{shopBoothTotal,jdbcType=INTEGER},
      </if>
      <if test="shopShelfTotal != null">
        #{shopShelfTotal,jdbcType=INTEGER},
      </if>
      <if test="shopBracketTotal != null">
        #{shopBracketTotal,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="visitId != null">
        visit_id = #{visitId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="shopBooth != null">
        shop_booth = #{shopBooth,jdbcType=INTEGER},
      </if>
      <if test="shopShelf != null">
        shop_shelf = #{shopShelf,jdbcType=INTEGER},
      </if>
      <if test="shopBracket != null">
        shop_bracket = #{shopBracket,jdbcType=INTEGER},
      </if>
      <if test="shopBoothTotal != null">
        shop_booth_total = #{shopBoothTotal,jdbcType=INTEGER},
      </if>
      <if test="shopShelfTotal != null">
        shop_shelf_total = #{shopShelfTotal,jdbcType=INTEGER},
      </if>
      <if test="shopBracketTotal != null">
        shop_bracket_total = #{shopBracketTotal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-04-->
  <select id="selectFirstByVisitId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sa_visit_update_shop_temp
        where visit_id=#{visitId,jdbcType=VARCHAR} limit 1
    </select>
</mapper>