<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.sasync.mapper.GkCostGtPhotoEntityMapper">
  <resultMap id="BaseResultMap" type="com.guanke.vinda.samodels.model.entity.GkCostGtPhotoEntity">
    <!--@mbg.generated-->
    <!--@Table gk_cost_gt_photo-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updatedTime" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="photoKey" jdbcType="LONGVARCHAR" property="photoKey" />
    <result column="photoNumber" jdbcType="VARCHAR" property="photoNumber" />
    <result column="row_Id" jdbcType="VARCHAR" property="rowId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, createdBy, createdTime, updatedBy, updatedTime, version, photoKey, photoNumber, 
    row_Id, `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from gk_cost_gt_photo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from gk_cost_gt_photo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guanke.vinda.samodels.model.entity.GkCostGtPhotoEntity">
    <!--@mbg.generated-->
    insert into gk_cost_gt_photo (id, createdBy, createdTime, 
      updatedBy, updatedTime, version, 
      photoKey, photoNumber, row_Id, 
      `type`)
    values (#{id,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{photoKey,jdbcType=LONGVARCHAR}, #{photoNumber,jdbcType=VARCHAR}, #{rowId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guanke.vinda.samodels.model.entity.GkCostGtPhotoEntity">
    <!--@mbg.generated-->
    insert into gk_cost_gt_photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
      <if test="updatedBy != null">
        updatedBy,
      </if>
      <if test="updatedTime != null">
        updatedTime,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="photoKey != null">
        photoKey,
      </if>
      <if test="photoNumber != null">
        photoNumber,
      </if>
      <if test="rowId != null">
        row_Id,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="photoKey != null">
        #{photoKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="photoNumber != null">
        #{photoNumber,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guanke.vinda.samodels.model.entity.GkCostGtPhotoEntity">
    <!--@mbg.generated-->
    update gk_cost_gt_photo
    <set>
      <if test="createdBy != null">
        createdBy = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updatedBy = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="photoKey != null">
        photoKey = #{photoKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="photoNumber != null">
        photoNumber = #{photoNumber,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        row_Id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guanke.vinda.samodels.model.entity.GkCostGtPhotoEntity">
    <!--@mbg.generated-->
    update gk_cost_gt_photo
    set createdBy = #{createdBy,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=TIMESTAMP},
      updatedBy = #{updatedBy,jdbcType=VARCHAR},
      updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      photoKey = #{photoKey,jdbcType=LONGVARCHAR},
      photoNumber = #{photoNumber,jdbcType=VARCHAR},
      row_Id = #{rowId,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-19-->
  <select id="selectByRowId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gk_cost_gt_photo
        where 1=1
    <if test="rowId != null">
      and row_Id = #{rowId,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      and `type` = #{type,jdbcType=VARCHAR}
    </if>
    </select>
</mapper>