<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.saschedule.mapper.SyncLogMapper">


    <insert id="save" parameterType="com.guanke.vinda.samodels.model.entity.SyncLogEntity">
            <!--@mbg.generated-->
            insert into gk_sync_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="model != null">model,</if>
            <if test="recordId != null">recordId,</if>
            <if test="errorMsg != null">errorMsg,</if>
            <if test="method != null">method,</if>
            <if test="startTime !=null">startTime,</if>
            <if test="endTime !=null">endTime,</if>
            <if test="status !=null">status</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="model != null">#{model,jdbcType=VARCHAR},</if>
            <if test="recordId != null">#{recordId,jdbcType=VARCHAR},</if>
            <if test="method != null">#{method,jdbcType=VARCHAR},</if>
            <if test="errorMsg != null">#{errorMsg,jdbcType=VARCHAR},</if>
            <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="status !=null">#{status,jdbcType=VARCHAR},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="model != null">model=#{model,jdbcType=VARCHAR},</if>
            <if test="recordId != null">recordId=#{recordId,jdbcType=VARCHAR},</if>
            <if test="method != null">method=#{method,jdbcType=VARCHAR},</if>
            <if test="errorMsg != null">errorMsg=#{errorMsg,jdbcType=VARCHAR},</if>
            <if test="startTime != null">startTime=#{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">endTime=#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="status !=null">status=#{status,jdbcType=VARCHAR},</if>
        </trim>
        </insert>



</mapper>